/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.vector-search-result-chunk {
    font-size: 0.8em;
    opacity: 0.7;
}

/* Minimal themeç”¨ */
body:not(.full-file-names .related-chunks-container ) .tree-item-self {
    white-space: unset !important;
}

.related-chunks-header {
    margin-bottom: 0.5em;
    color:var(--nav-heading-color);
    font-size: var(--nav-item-size);
    font-weight: var(--nav-heading-weight);
}